.digital-clock {
    position: fixed;
    top: 10rem;
    left: calc(50% - 7.5rem);
    background-color: white;
    border-radius: .5rem;
    box-shadow: .5rem .5rem 1rem rgba($black, 0.7) ;
    min-width: 15rem;
    min-height: 5rem;
    font-size: 150%;
    font-weight: 500;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.classHidden {
    display: none;
}